body {
    background: blue;
    color: white;
}
.heading
{
    width: 80%;
    font-size: 22px;
    color: rgb(132, 146, 55);
}
.name_of_objects
{
    font-size: 19px;
    color: honeydew;
}
#camera {
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
p
{
    font-size: 14px;
    color:sandybrown;
}